asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
idna==2.8
linecache2==1.0.0
mkl-fft==1.0.12
mkl-random==1.0.2
numpy==1.16.3
pandas==0.24.2
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
-e git+https://github.com/holmesjoli/qualtricsPy.git@c1f85f811dd033a555a1e3007ca4c2d3a71bd38d#egg=qualtricsPy
requests==2.21.0
sanetime==4.2.3
six==1.12.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.24.2
-e git+https://github.com/holmesjoli/utilsPy.git@f8e29de51efc3fa8f6827d5a995fd318c7daebea#egg=utilsPy
win-inet-pton==1.1.0
wincertstore==0.2
